<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Cooleche</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('informe') }}">Informe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('datos_consumo') }}">Datos de consumo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('vehiculos') }}">Vehículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('usuarios') }}">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </nav>